---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
---

# {{.Name}} ({{.Type}})

Provides a mailbox in mailcow. This can be used to create, modify, and delete mailboxes.

## Example Usage
{{ tffile "examples/resources/mailcow_mailbox/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}
