---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
---

# {{.Name}} ({{.Type}})

Provides an OAuth2 client for mailcow. 
This can be used to create and delete OAuth2 clients for mailcow.

## Example Usage
{{ tffile (printf "examples/resources/%s/resource.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}

## Restriction

The mailcow API does not return the id of the OAuth2 client as response for creation.
As workaround the redirect uri is used as identifier for the resource.
As consequence creation of an OAuth2 client with an existing redirect uri is prohibited.
