---
page_title: "Provider: TLS"
description: |-
---

# {{ .ProviderShortName | upper }} Provider

The provider makes it possible to provision mailcow configurations. 

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

## Disclaimer

This is under development. You will certainly find bugs and limitations. In those cases, please report issues or, if you can, submit a pull-request.

### To change

* the API of mailcow for tags always adds the tags instead of replacing (https://github.com/mailcow/mailcow-dockerized/issues/4681). Thus either the API has to be changed or extra resources mailcow_domain_tags and mailcow_mailbox_tag have to be implemented

{{ .SchemaMarkdown | trimspace }}