---
page_title: "mailcow_domain Data Source - terraform-provider-mailcow"
subcategory: ""
description: |-
  Get domains by domain_name
---

# mailcow_domain (Data Source)

Provides details about a domain in mailcow. This resource is useful if you want to use a non-terraform managed domain.

## Example Usage

```terraform

data "mailcow_domain" "demo" {
  domain_name = "440044.xyz"
}

```

{{ .SchemaMarkdown | trimspace }}
