---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
---

# {{.Name}} ({{.Type}})

Provides details about a domain in mailcow. This data source is useful if you want to use a non-terraform managed domain.

## Example Usage
{{ tffile (printf "examples/data-sources/%s/data-source.tf" .Name)}}

{{ .SchemaMarkdown | trimspace }}
